@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #080c25;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid #dfe0e6;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #505050;
  border-bottom: 2px solid #505050;
}

.header ul li a svg {
  margin-right: 5px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.heading {
  font-size: 22px;
  margin-bottom: 50px;
  /* padding: 0 20px; */
}

.heading p {
  color: #505050;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.form-group input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #eae1e1;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group input:focus {
  outline: 1px solid #dfe0e6;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #080c25;
  border-radius: 5px;
  background-color: #080c25;
  color: #dfe0e6;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-reverse {
  background-color: #dfe0e6;
  color: #080c25;
}

.btn svg {
  margin-right: 5px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-back {
  width: 150px;
  margin-bottom: 50px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 15px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.btn:hover {
  transform: scale(0.99);
}

.ticket,
.ticket-headings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  padding: 10px 15px;
  border-radius: 15px;
  text-align: center;
}

.ticket-headings {
  font-weight: 700;
}

.status {
  background-color: #505050;
  color: #ffffff;
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

.status-new {
  background-color: #21713d;
}

.status-open {
  background-color: #1e35a6;
}

.status-closed {
  background-color: #8a1f1f;
}

.ticket-page {
  position: relative;
  text-align: left;
}

.ticket-header h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket-header h3 > .status {
  width: 15%;
}

.ticket-header h4 {
  margin: 10px 0;
}

.ticket-desc {
  margin: 20px 0;
  font-size: 17px;
  background-color: #f4f4f4;
  border: 1px #ccc solid;
  padding: 10px 15px;
  border-radius: 5px;
}

.ticket-page .btn {
  margin-bottom: 30px;
}

.ticket-page .btn-block {
  width: 100%;
  margin-top: 30px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #080c25;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingSpinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: #000 transparent #555 transparent;
  border: 8px solid;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
