@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #080c25;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid #dfe0e6;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #505050;
  border-bottom: 2px solid #505050;
}

.header ul li a svg {
  margin-right: 5px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.heading {
  font-size: 22px;
  margin-bottom: 50px;
  /* padding: 0 20px; */
}

.heading p {
  color: #505050;
}

.form {
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  width: 70%;
  padding: 10px;
  border: 1px solid #eae1e1;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #080c25;
  border-radius: 5px;
  background-color: #080c25;
  color: #dfe0e6;
  font-size: 16px;
  font-weight: 600;
}

.btn-block {
  width: 70%;
}
